@font-face {
  font-family: 'Andale-Mono';
  src: url('../fonts/Andale-Mono.eot');
  src: url('../fonts/Andale-Mono.eot?#iefix') format('embedded-opentype'), url('../fonts/Andale-Mono.woff') format('woff'), url('../fonts/Andale-Mono.ttf') format('truetype'), url('../fonts/Andale-Mono.svg#AndaleMono') format('svg');
  font-weight: normal;
  font-style: normal;
}